//light theme
$background-light: #EDEEF0;
//text
$text-color-primary-light: #000;
$text-color-secondary-light: #8A95A1;
//btn-primary
$primary-btn-background-light: #D5E0EA;
$primary-btn-text-color-light: #437BBA;
//btn-secondary
$secondary-btn-background-light: #BABEC1;
$secondary-btn-text-color-light: #FFFFFF;
//hover
$hover-background: #EDEEF0;
//content
$background-content-dark: #FFFFFF;


//dark theme
$background-dark: #141414;
//text
$text-color-primary-dark: #E0E3E6;
$text-color-secondary-dark: #939393;
//btn-primary
$primary-btn-background-dark: #3D3D3D;
$primary-btn-text-color-dark: #E0E3E6;
//btn-secondary
$secondary-btn-background-dark: #232729;
$secondary-btn-text-color-dark: #E9E9EA;
//hover
$hover-background: #4A4A4A;
//content
$background-content-dark: #222222;


$btn-primary-light: #07F;
$btn-secondary-light: #D5E0EA;
$btn-secondary-signup: #4BB34B;
