@import "vars";
@import "dark";
@import "light";

.app {
  min-height: 100vh;
  background: var(--background-color);
  color: var(--text-color-primary);

  a {
    color: var(--text-color-primary);
  }
}
