.dark_theme {
  //dark theme
  --background-color: #141414;
  //text
  --text-color-primary: #E0E3E6;
  --text-color-secondary: #939393;
  //btn-primary
  --primary-btn-background: #3D3D3D;
  --primary-btn-text-color: #E0E3E6;
  //btn-secondary
  --secondary-btn-background: #232729;
  --secondary-btn-text-color: #E9E9EA;
  //hover
  --hover-primary-btn: #383838;
  --hover-secondary-btn: #1c2021;
  //content
  --background-content: #222222;
  --background-input: #424242;
  --hover-input: #4d4c4c;
}
