@import 'dark';
@import 'vars';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.page-content {
  display: flex;
  padding: 15px 10px;
  gap: 10px;
}

.main-content {
  flex-grow: 1;
}

.app {
  min-height: 100vh;
  background: var(--background-color);
  color: var(--text-color-primary);

  a {
    color: var(--text-color-primary);
  }
}

