.app.light {
  //light theme
  --background-color: #EDEEF0;
  //text
  --text-color-primary: #000;
  --text-color-secondary: #8A95A1;
  //btn-primary
  --primary-btn-background: #D5E0EA;
  --primary-btn-text-color: #437BBA;
  //btn-secondary
  --secondary-btn-background: #A3A7AB;
  --secondary-btn-text-color: #FFFFFF;
  //hover
  --hover-primary-btn: #cbd9e3;
  --hover-secondary-btn: #9a9ea2;
  //content
  --background-content: #FFFFFF;
  --hover-input: #e5e6e8;
}
