@import "src/app/styles/vars";

.sidebarRight {
  min-width: 330px;
}

.sidebarRightItem {
  height: calc(100vh - var(--header-height));
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  background: var(--background-content);
}

.menu {

}

.menuItem {
  padding: 10px;
  margin-bottom: 2px;
  border-radius: 10px;

  &:hover {
    background: var(--hover-input);
    cursor: pointer;
  }
}
