.searchInput {
  position: relative;

  svg {
    position: absolute;
    top: 7px;
    left: 10px;
    width: 14px;
    height: 14px;
    fill: var(--svg-fill);
  }
}

.input {
  height: 30px;
  width: 230px;
  padding: 10px 10px 10px 30px;
  outline: none;
  border: none;
  background: var(--background-color);
  border-radius: 10px;
  color: var(--text-color-primary);

  &:hover {
    background: var(--hover-input);
  }
}

