@import '../../../app/styles/vars';

.sidebarLeft {
  height: 100vh;
  min-width: 160px;
}

.item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
  border-radius: 5px;

  svg {
    width: 25px;
    height: 25px;
  }

  &:hover {
    background: $hover-input-light;
    cursor: pointer;
  }
}
