.sidebarLeft {
  height: calc(100vh - var(--header-height));
  min-width: var(--sidebar-width);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  background: var(--background-content);
  //transition: width 0.1s;
}

.item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
  border-radius: 5px;

  svg {
    width: 25px;
    height: 25px;
    fill: var(--svg-fill);
  }

  &:hover {
    background: var(hover-input);
    cursor: pointer;
  }
}

.collapsed {
  min-width: var(--sidebar-collapsed);
}
