@import '../../app/styles/vars';

.header {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background: $background-content-light;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.dark {
  background: $background-content-dark;
}
