.header {
  width: 100%;
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background: var(--background-content);
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
