@import '../../../app/styles/vars';

.newsItem {
  padding: 10px;
  border-radius: 10px;
  background: $background-content-light;
  margin-bottom: 10px;
}

.title {
  color: $text-color-primary-light;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.body {

}
